<div id='weaveup'> </div>
<div class='project-container'>
  <div class='project-media'>
    <div class='project-media-container'>
      <div class='project-img'>
        <a href='assets/weaveup.png' data-lightbox='weaveup' title='Weaveup'>
          <%= image_tag 'weaveup.png', alt: 'Weaveup Image 1' %>
        </a>
      </div>
      <div class='project-img'>
        <a href='assets/weaveup_2.png' data-lightbox='weaveup' title='Weaveup'>
          <%= image_tag 'weaveup_2.png', alt: 'Weaveup Image 2' %>
        </a>
      </div>
      <div class='project-img'>
        <a href='assets/weaveup_3.png' data-lightbox='weaveup' title='Weaveup'>
          <%= image_tag 'weaveup_3.png', alt: 'Weaveup Image 3' %>
        </a>
      </div>
    </div>
  </div>
  <div class='project-body'>
    <div class='project-body-container'>
      <div class='project-body-container-title'>
        <p> Weaveup
      </div>
      <div class='project-body-container-desc'>
        <p>
          WeaveUp is an innovative solution which offers infinite pattern options from artists around the world and tools to customize and match color perfectly for the hospitality industry.
          My responsibilites included backend development using ruby on rails, with a focus in jade for front-end stack.
        </p>
      </div>
    </div>
  </div>
  <div class='project-gems'>
    <div class='project-gems-container'>
      <div class='project-gems-img-1'>
        <%= link_to 'https://www.ruby-lang.org/en/' do %>
          <%= image_tag 'ruby.png', alt: 'ruby image' %>
        <% end %>
      </div>
      <div class='project-gems-img-2'>
        <%= link_to 'http://rubyonrails.org/' do %>
          <%= image_tag 'rails.png', alt: 'rails image' %>
        <% end %>
      </div>
      <div class='project-gems-img-3'>
        <%= link_to 'https://en.wikipedia.org/wiki/JADE_(programming_language)' do %>
          <%= image_tag 'jade.png', alt: 'js image' %>
        <% end %>
      </div>
      <div class='project-gems-img-5'>
        <%= link_to 'https://drupal.org/' do %>

        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='bottom-nav'>
  <div class='left-pane'>
    <%= link_to '/' do %>
      Back
    <% end %>
  </div>
  <div class='right-pane'>
    <%= link_to jenga_index_path do %>
      Prev
    <% end %>
      |

    <%= link_to assetricity_index_path do %>
      Next
    <% end %>
  </div>
</div>
