  <div class="frame-top">
    <div class="card-frame" >
      <div id="top-container" class="inner-frame">
        <div class="top-content">
          <div class="top-content-left">
            <div class="name">Patrick Rawlings</div>
          </div>
          <div class="top-content-right">
            <div class="icons">
              <%= image_tag("fbook.png", alt: "") %>
              <%= image_tag("twitter.png", alt: "") %>
              <%= image_tag("git.png", alt: "") %>
              <%= image_tag("skype.png", alt: "") %>
            </div>
          </div>
        </div>
      </div>
      <div class="dotted-line">
        <%= image_tag("dot.png", alt: "") %>
      </div>
      <div id="middle-container" class="inner-frame">
      </div>
      <div id="bottom-container" class="inner-frame">
      </div>
    </div>
  </div>
  <div class="frame-bottom">
</div>
