<div class="frame-top">
  <div class="card-frame" >
    <div id="top-container" class="inner-frame">
      <div class="top-content">
        <div class="top-content-left">
          <div class="name">Patrick Rawlings</div>
          <div class="profession">Software Developer</div>
        </div>
        <div class="top-content-right">
          <div class="icons">
              <%= link_to 'https://github.com/prawl' do %>
                <%= image_tag("git.png", alt: "") %>
              <% end %>
              <%= link_to 'https://twitter.com/PtrickRwlings' do %>
                <%= image_tag("twitter.png", alt: "") %>
              <% end %>
              <%= link_to 'mailto:ptyrawlings@gmail.com' do %>
                <%= image_tag("mail6.png", alt: "") %>
              <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="dotted-line">
      <%= image_tag("dot.png", alt: "") %>
    </div>
  </div>
</div>
<div class="frame-bottom">
  <div class="gem-container">
    <div class="link">
      <a href="#assetricity"  title="All Projects">View all projects </a>
    </div>
  </div>
  <div class="img-container">
    <div class="cycle-slideshow"
      data-cycle-fx="fade"
      data-cycle-pause-on-hover="false"
      data-cycle-speed="500">
        <img src="img/assetricity.jpg", alt: "">
        <img src="img/gbm_1.jpg", alt: "">
        <img src="img/mimosa.jpg", alt: "">
        <img src="img/gbm_2.jpg", alt: "">
        <img src="img/iom-og.jpg", alt: "">
        <img src="img/gbm_3.jpg", alt: "">
        <img src="img/gbm_4.jpg", alt: "">
    </div>
  </div>
</div>
<div class="dotted-line">
  <%= image_tag("dot.png", alt: "") %>
</div>
<div id="assetricity"> </div>
<div class="project-container">
  <div class="project-media">
    <div class="project-media-container">
      <div class="project-img">
          <a href="img/assetricity.jpg" data-lightbox="assetricity" title="Assetricity">
            <%= image_tag("assetricity.jpg", alt: "Assetricity Image 1") %>
          </a>
      </div>
      <div class="project-img">
          <a href="img/mimosa.jpg" data-lightbox="assetricity" title="Mimosa">
            <%= image_tag("mimosa.jpg", alt: "Assetricity Image 2") %>
          </a>
      </div>
      <div class="project-img">
        <a href="img/iom-og.jpg" data-lightbox="assetricity" title="IOM-OG-Register">
          <%= image_tag("iom-og.jpg", alt: "Assetricity Image 3") %>
        </a>
      </div>
    </div>
  </div>
  <div class="project-body">
    <div class="project-body-container">
      <div class="project-body-container-title">
        <p> Assetricity
      </div>
      <div class="project-body-container-desc">
        <p>
          Assetricity is the solution for integration in enterprise level industral systems.  I started with assetricity as a ruby on rails developer
          and worked in a highly skilled team of architects, and engineers.  My responsibilities included development of an application which included
          ruby on rails, javascript, coffeescript and websites implemented using drupal.
        </p>
      </div>
    </div>
  </div>
  <div class="project-gems">
    <div class="project-gems-container">
      <div class="project-gems-img-1">
        <%= link_to 'https://www.ruby-lang.org/en/' do %>
          <%= image_tag("ruby.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-2">
        <%= link_to 'http://rubyonrails.org/' do %>
          <%= image_tag("rails.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-3">
        <%= link_to 'http://en.wikipedia.org/wiki/JavaScript' do %>
          <%= image_tag("js.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-4">
        <%= link_to 'http://coffeescript.org/' do %>
          <%= image_tag("coffee.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-5">
        <%= link_to 'https://drupal.org/' do %>
          <%= image_tag("drupal.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-6">
      </div>
    </div>
  </div>
</div>
<div class="dotted-line">
  <%= image_tag("dot.png", alt: "") %>
</div>
<div id="gbm"> </div>
<div class="project-container">
  <div class="project-media">
    <div class="project-media-container">
      <div class="project-img">
          <a href="img/gbm_1.jpg" data-lightbox="gbm" title="Alpha Development Screen Shot">
            <%= image_tag("gbm_1.jpg", alt: "Gunbrella Man Image 1") %>
          </a>
      </div>
      <div class="project-img">
          <a href="img/gbm_2.jpg" data-lightbox="gbm" title="Alpha Development Screen Shot">
            <%= image_tag("gbm_2.jpg", alt: "Gunbrella Man Image 2") %>
          </a>
      </div>
      <div class="project-img">
        <a href="img/gbm_4.jpg" data-lightbox="gbm" title="Loading Screen">
          <%= image_tag("gbm_4.jpg", alt: "Gunbrella Man Image 3") %>
        </a>
      </div>
    </div>
  </div>
  <div class="project-body">
    <div class="project-body-container">
      <div class="project-body-container-title">
        <p> Gunbrella Man: Rise of a Hero
      </div>
      <div class="project-body-container-desc">
        <p>
          Gunbrella Man: Rise of a Hero is a first person shooter developed entirely in Unity.
          I worked on this capstone project during my final software engineering course at East Carolina University.
          With the help of four programmers, two artist, a sound engineer, and a singer/song writer, the project was
          completed in roughly four months.  My responsiblities as team leader on this project mostly covered documentation, programming,
          collaboration between team members, and having fun.  This was the first game I've ever worked on in a team and I
          am very proud of the all the sleepless nights and hardwork we put into it.
        </p>
      </div>
    </div>
  </div>
  <div class="project-gems">
    <div class="project-gems-container">
      <div class="project-gems-img-1">
        <%= link_to 'http://unity3d.com/' do %>
          <%= image_tag("unity.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-2">
        <%= link_to 'http://en.wikipedia.org/wiki/JavaScript' do %>
          <%= image_tag("js.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-3">
        <%= link_to 'http://en.wikipedia.org/wiki/C_Sharp_(programming_language)' do %>
          <%= image_tag("cs.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-4">
        <%= link_to 'http://sourceforge.net/projects/gunbrella/' do %>
          <%= image_tag("dl.png", alt: "") %>
        <% end %>
      </div>
      <div class="project-gems-img-5">
      </div>
      <div class="project-gems-img-6">
      </div>
    </div>
  </div>
</div>
