<%# <%= stylesheet_link_tag 'treasure' %>
<div class= "outer">
  <div class="middle">
    <div class="inner">
      <%= image_tag("tclosed.png", alt: "") %>
      <div class='bottom'>
        <p> What's the password? </p>
        <%= form_tag 'login' do %>
          <%= password_field_tag :password %></p> 
          <%= submit_tag("Log In") %>
          </br>
          <h1> The password is secret </h1>
          <%= flash[:error] %>
        <% end %>
      </div>
    </div>
  </div>
</div>
