<%# <%= stylesheet_link_tag 'treasure' %>
<div class= "outer">
  <div class="middle">
    <div class="inner">
      <%= image_tag("tclosed.png", alt: "") %>
      <div class='bottom'>
        <p> What's inside the chest? </p>
        <%= form_tag 'login' do %>
          <%= password_field_tag :password %></p> 
          <%= submit_tag("open the chest") %>
          </br>
          <h1> If it wasn't already obvious, the password is secret </h1>
          <%= flash[:error] %>
        <% end %>
      </div>
    </div>
  </div>
</div>
