<div id='jenga'> </div>
<div class='project-container'>
  <div class='project-media'>
    <div class='project-media-container'>
      <div class='project-img'>
        <a href='assets/jenga_2.png' data-lightbox='jenga' title='Main Menu'>
          <%= image_tag 'jenga_2.png', alt: 'Jenga Image 1' %>
        </a>
      </div>
      <div class='project-img'>
        <a href='assets/jenga_3.png' data-lightbox='jenga' title='Developers Level'>
          <%= image_tag 'jenga_3.png', alt: 'Jenga Image 2' %>
        </a>
      </div>
      <div class='project-img'>
        <a href='assets/jenga_4.png' data-lightbox='jenga' title='Destroyed City'>
          <%= image_tag 'jenga_4.png', alt: 'Jenga Image 3' %>
        </a>
      </div>
    </div>
  </div>
  <div class='project-body'>
    <div class='project-body-container'>
      <div class='project-body-container-title'>
        <p> Jenga
      </div>
      <div class='project-body-container-desc'>
        <p>
          Based upon the classic board game Jenga, this game was my first attempt at creating a game in Unity.
          The goal of this project was to introduce myself with game development techniques through the creation of a
          prexisiting board game.  My version of Jenga supports up to four players, each sharing a single keyboard controller.
          Each player has 30 seconds to move a single block from the tower to the top.  After 30 seconds the current player loses
          control of the active block and if any block touches the ground the current player loses.  The game comes with two levels
          which were downloaded via the Unity store and a developers level in which was used to implement all gameplay elements.
        </p>
      </div>
    </div>
  </div>
  <div class='project-gems'>
    <div class='project-gems-container'>
      <div class='project-gems-img-1'>
        <%= link_to 'http://unity3d.com/' do %>
          <%= image_tag 'unity.png', alt: 'unity image' %>
        <% end %>
      </div>
      <div class='project-gems-img-2'>
        <%= link_to 'http://en.wikipedia.org/wiki/JavaScript' do %>
          <%= image_tag 'js.png', alt: 'js image' %>
        <% end %>
      </div>
      <div class='project-gems-img-3'>
        <%= link_to 'http://en.wikipedia.org/wiki/C_Sharp_(programming_language)' do %>
          <%= image_tag 'cs.png', alt: 'cs image' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class='bottom-nav'>
  <div class='left-pane'>
    <%= link_to '/' do %>
      Back
    <% end %>
  </div>
  <div class='right-pane'>
    <%= link_to gbm_index_path do %>
      Prev
    <% end %>
      |
    <%= link_to assetricity_index_path do %>
      Next
    <% end %>
  </div>
</div>
