<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'p-icon.ico' %>
  <title>Patrick Rawlings Portfolio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="avatar-frame">
    <div class="avatar-content" >
    </div>
  </div>
  <div class="name-frame">
    <div class="name-content" >
      <span class="name-span"> Patrick Rawlings - Software Developer </span>
    </div>
  </div>
  <div class="link-frame">
    <div class="link-content" >
      <ul>
        <li class="link-item">
          <a href="/">Portfolio</a>
        </li>
        <li class="link-item">
          <a href="https://github.com/prawl">Github</a>
        </li>
        <li class="link-item">
          <%= link_to 'Resumé', resume_index_path %>
        </li>
        <li class="link-item">
          <%= link_to 'Contact', contact_index_path %>
        </li>
      </ul>
    </div>
  </div>
  <%= yield %>
  <div class="bottom-frame">
    <div class="bottom-content" >
      <%= link_to 'https://twitter.com/PtrickRwlings' do %>
        <img src="assets/patty_twitter.png">
      <% end %>
      <%= link_to 'mailto:ptyrawlings@gmail.com' do %>
        <img src="assets/patty_mail.png">
      <% end %>
      <%= link_to 'https://github.com/prawl' do %>
        <img src="assets/github.png">
      <% end %>
    </div>
  </div>
</body>
</html>
